{% extends "auctions/layout.html" %}
{% block body %}
    <div class="warning-message">
        {% if info %}
            {% if update  %}
                <div class="alert alert-success" role="alert">
                    {{info}}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{info}}
            {% endif %}
        {% endif %}
    </div>

    {% if not listing.active and user == listing.price.user %}
        <div class="alert alert-success" role="alert">
            You won this auction!
        </div>
    {% endif %}

    <div class="row">
        {% if user.is_authenticated and listing.active %}
            {% if owner %}
                <form action="{% url 'close' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark">Close auction</button>
                </form>
            {% endif %}
        
            {% if listing_in_watchlist %}
                <form action="{% url 'remove_watchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove from watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'add_watchlist' id=listing.id %}" method="POST">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-success">Add to watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <h2>Name: {{listing.title}}</h2>
    <img src="{{listing.url_image}}" alt="{{listing.title}}" height="400px">
    <br><br>
    <h4>Description</h3>
    <p>{{listing.description}}</p>
    <h4>Country of origin: {{listing.nation}}</h4>
    <br>
    <h5>Provider: {{listing.beheerder}}</h5>
    <br>
    <h6>Price: ${{listing.price.bid}}</h6>
    <br>
    {% if listing.active %}
        <form action="{% url 'add_bid' id=listing.id %}" method="POST">
            {%csrf_token%}
            <input type="number" name="new_bid" placeholder="Place bid here" style="border-color: rosybrown;width: auto; margin-left: 0px;" min="0">
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">Add to bids</button>
            </div>
        </form>
    {% endif %}
    <br>

    <h5>Comments</h5>
    {% if user.is_authenticated %}
        <form action="{% url 'add_comment' id=listing.id %}" method="POST">
            {%csrf_token%}
            <input type="text" name="new_comment" placeholder="Place comment here" style="border-color: rosybrown;width: auto; margin-left: 0px;">
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">Add to comments</button>
            </div>
        </form>
    {% endif %}
    <br>
    <ul class="list-group">
        {% for i in comments %}
        <div class="alert alert-info" role="alert" method="POST">
           {{i.commenter}} commented on {{ i.listing}}:
           <br> {{i.message}}
        </div>
        {% endfor %}
    </ul>
{% endblock%}